@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
body {
  background: #000000; }

* {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth; }

*::selection {
  background: #e50b22;
  color: #ffffff; }

header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600; }

header .navbar__background {
  background: linear-gradient(180deg, #1D1D1B 0%, rgba(29, 29, 27, 0) 100%); }

header .navbar-collapse {
  background-color: #202020; }

header .dropdown-menu {
  background-color: #202020;
  border: none; }

header .dropdown-item {
  color: #ffffff; }

header .dropdown-item:hover {
  background-color: #e50b22;
  color: #ffffff; }

.newsletter {
  background-image: url("../assets/img/newsletter/newsletter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.newsletter__info {
  color: #ffffff;
  text-align: left;
  padding: 15px;
  max-width: fit-content; }
  .newsletter__info p {
    font-size: 20px;
    max-width: 560px;
    font-weight: 300; }

.newsletter__form__input {
  padding: 10px 15px;
  font-size: 17px;
  margin-right: 5%;
  border: 1px solid transparent;
  min-width: 220px; }

.newsletter__form__button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #ffffff; }
  .newsletter__form__button img {
    max-width: 22px; }

.newsletter__form__button:hover {
  background-color: #e50b22; }

/*FIN NEWSLETTER*/
footer {
  background-color: #000000; }

.footer__social img {
  padding: 3px;
  margin: 3px; }

.footer__social a {
  text-decoration: none; }

.btn--facebook:hover {
  background: #3a5795; }

.btn--twitter:hover {
  background: #55acee; }

.btn--instagram:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }

.btn--twitch:hover {
  background: #6441a5; }

.btn--linkedin:hover {
  background: #0077b5; }

.inicio {
  position: relative;
  background-image: url("../assets/img/index/main_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh; }
  .inicio .inicio__titulo {
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    margin-left: 1.5%;
    z-index: 2; }
  .inicio .inicio__titulo h1 {
    margin-bottom: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px; }
  .inicio .inicio__titulo h2 {
    margin-top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px; }
  .inicio .inicio__overlay {
    background: linear-gradient(360deg, #000000 33.52%, rgba(29, 29, 27, 0) 100%);
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1; }

.productos_mobile {
  max-height: 40vh; }
  .productos_mobile h3 {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 20px; }

.producto {
  display: flex;
  position: relative;
  justify-content: center;
  transition: transform .5s;
  z-index: 2; }
  .producto .producto_img {
    width: 100%;
    height: auto; }
  .producto h3 {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    user-select: none; }

.producto:hover {
  transform: translateY(-50px); }

.blog__titulo {
  color: #ffffff;
  margin: 15px; }

.articulo:hover {
  transition: transform .5s;
  transform: scale(0.95);
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important; }

.articulo__link, .articulo__link:hover {
  text-decoration: none;
  color: #000000; }

.articulo__titulo {
  letter-spacing: 0.1rem;
  font-weight: bold; }

.main__video__titulo {
  position: absolute;
  bottom: 15%;
  left: 3%;
  color: #ffffff;
  padding: 4px;
  text-align: left;
  z-index: 2; }
  .main__video__titulo h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2; }

.main__imagen_mobile {
  min-height: 680px;
  object-fit: cover; }

.video__overlay {
  background: linear-gradient(0deg, #000000 15%, transparent);
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  z-index: 1; }

.main__producto {
  max-width: 70%;
  color: #ffffff; }
  .main__producto h3 {
    font-weight: bold; }
  .main__producto .producto__img {
    border: 1px solid #e50b22; }

.comunidad {
  position: relative;
  text-align: center;
  background-image: url("../assets/img/comunidad/comunidad_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh; }
  .comunidad .comunidad__titulo {
    position: absolute;
    bottom: 20px;
    left: 3%;
    color: #ffffff;
    text-align: left;
    padding: 4px; }
    .comunidad .comunidad__titulo h1 {
      font-size: 50px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold; }

.comunidad__parrafo {
  color: #ffffff;
  padding: 15px;
  font-size: 22px; }
  .comunidad__parrafo span {
    color: #e50b22; }

.reviews__titulo {
  color: #ffffff; }

.nosotros {
  position: relative;
  background-image: url(../assets/img/nosotros/nosotros_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh; }
  .nosotros .nosotros__titulo {
    position: absolute;
    bottom: 1px;
    left: 3%;
    color: #ffffff; }
    .nosotros .nosotros__titulo h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 50px; }

.main__nosotros {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  column-gap: 5%;
  margin-bottom: 50px;
  grid-template-areas: "sub sub" "img info"; }
  .main__nosotros .nosotros__subtitulo {
    color: #ffffff;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
    grid-area: sub;
    font-weight: bold; }
  .main__nosotros img {
    max-width: 100%;
    padding-left: 19px;
    grid-area: img; }
  .main__nosotros .main__nosotros__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    grid-area: info; }
    .main__nosotros .main__nosotros__info .main__nosotros__texto1 {
      font-size: 24px;
      color: #ffffff;
      line-height: 26px;
      margin-bottom: 15px; }
      .main__nosotros .main__nosotros__info .main__nosotros__texto1 p {
        margin: 0; }
    .main__nosotros .main__nosotros__info .main__nosotros__texto2 {
      font-size: 18px;
      color: #808080;
      line-height: 24px; }

.contacto {
  position: relative;
  background-image: url(../assets/img/contacto/contacto_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh; }
  .contacto .contacto__titulo {
    position: absolute;
    bottom: 4%;
    left: 3%;
    color: #ffffff;
    z-index: 2; }
    .contacto .contacto__titulo h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 50px; }
  .contacto .contacto__overlay {
    background: linear-gradient(360deg, #000000 33.52%, rgba(29, 29, 27, 0) 100%);
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1; }

.main__contacto {
  padding: 5% 0 6% 0; }

.contacto__subtitulo {
  color: white;
  font-weight: bold;
  padding-bottom: 11px; }

.contacto__subtitulo__info {
  font-size: 17px;
  color: #808080;
  line-height: 24px;
  padding: 5px 0; }

.contacto__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 8px;
  color: #ffffff; }

.contacto__label {
  color: #ffffff;
  font-size: 18px; }

.contacto__btn {
  color: #ffffff;
  background: transparent;
  border: 2px solid;
  padding: 20px; }

.contacto__btn:hover {
  cursor: pointer;
  background: #e50b22 !important; }

.carousel-item img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  object-position: 50% 50%; }

.producto__titulo {
  left: 2%; }

.producto__titulo--h2, .producto__titulo h3 {
  margin-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px; }

.producto__titulo h3 {
  font-weight: 300; }

.teclados__titulo h1 {
  font-family: "Montserrat";
  color: #ffffff;
  padding: 15px; }

.product_overlay {
  background: linear-gradient(0deg, #000000 15%, transparent);
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 19%; }

@media only screen and (max-width: 426px) {
  .inicio {
    background-image: url("../assets/img/index/main_image_mobile.jpg");
    height: 95vh; }
  .video__overlay {
    height: 15%; }
  .main__video__titulo {
    bottom: 2%; }
    .main__video__titulo h1 {
      font-size: 40px; }
  /*FIN PRODUCTOS MOBILE*/
  /*COMUNIDAD MOBILE*/
  .comunidad {
    background-image: url(../assets/img/comunidad/comunidad_background_mobile.jpg);
    height: 90vh; }
    .comunidad .comunidad__titulo {
      bottom: 5%; }
      .comunidad .comunidad__titulo h1 {
        font-size: 38px; }
  /*FIN COMUNIDAD MOBILE*/
  /*NOSOTROS MOBILE*/
  .nosotros {
    background-image: url(../assets/img/nosotros/nosotros_background_mobile.jpg); }
    .nosotros .nosotros__titulo h1 {
      font-size: 40px; }
  .main__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-template-areas: "sub" "img"  "info"; }
    .main__nosotros .nosotros__subtitulo {
      font-size: 32px; }
    .main__nosotros img {
      max-width: 90%;
      padding: 0; }
    .main__nosotros .main__nosotros__info {
      padding: 5%;
      justify-content: normal; }
      .main__nosotros .main__nosotros__info .main__nosotros__texto1 {
        font-size: 20px; }
      .main__nosotros .main__nosotros__info .main__nosotros__texto2 {
        font-size: 15px; }
  /*FIN NOSOTROS MOBILE*/
  /* CONTACTO MOBILE */
  .contacto {
    background-image: url(../assets/img/contacto/contacto_background_mobile.jpg); }
    .contacto .contacto__titulo h1 {
      font-size: 43px; }
  .newsletter__form__input {
    min-width: 200px; } }

@media only screen and (min-width: 426px) and (max-width: 769px) {
  .inicio {
    background-image: url(../assets/img/index/main_image_mobile.jpg);
    height: 100vh; }
  .main__video__titulo h1 {
    font-size: 40px; }
  .main__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-template-areas: "sub" "img"  "info"; }
    .main__nosotros .nosotros__subtitulo {
      font-size: 32px;
      justify-self: left; }
    .main__nosotros img {
      max-width: 90%;
      padding: 0; }
    .main__nosotros .main__nosotros__info {
      padding: 5%;
      justify-content: normal; }
      .main__nosotros .main__nosotros__info .main__nosotros__texto1 p {
        font-size: 20px; }
      .main__nosotros .main__nosotros__info .main__nosotros__texto2 {
        font-size: 15px; } }

@media only screen and (min-width: 576px) {
  header .navbar-collapse {
    background: none; }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover; } }
