// INICIO FOOTER
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	height: 150px
}

.footer__social img {
	padding: 3px;
	margin: 3px;
}

.footer__social a {
	text-decoration: none;
}
// FIN FOOTER