//  MEDIA QUERYS
// mobile
@media only screen and (max-width: 426px) {
	// INDEX MOBILE
	.inicio {
		background-image: url("../assets/img/index/main_image_mobile.jpg");
		height: 95vh;
	}
	// FIN INDEX MOBILE

	// PRODUCTOS MOBILE
	.video__overlay {
		height: 15%;
	}
	.main__video__titulo {
		bottom: 2%;
		h1 {
			font-size: 40px;
		}
	}
	/*FIN PRODUCTOS MOBILE*/

	/*COMUNIDAD MOBILE*/
	.comunidad {
		background-image: url(../assets/img/comunidad/comunidad_background_mobile.jpg);
		height: 90vh;
		.comunidad__titulo {
			bottom: 5%;
			h1 {
				font-size: 38px;
			}
		}
	}
	/*FIN COMUNIDAD MOBILE*/

	/*NOSOTROS MOBILE*/
	.nosotros {
		background-image: url(../assets/img/nosotros/nosotros_background_mobile.jpg);
		.nosotros__titulo h1 {
			font-size: 40px;
		}
	}
	.main__nosotros {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		justify-items: center;
		grid-template-areas:
		"sub"
		"img" 
		"info";
		.nosotros__subtitulo {
			font-size: 32px;
		}
		img {
	    	max-width: 90%;
	    	padding: 0;
		}
		.main__nosotros__info {
			padding: 5%;
			justify-content: normal;
			.main__nosotros__texto1 {
				font-size: 20px;
			}
			.main__nosotros__texto2 {
				font-size: 15px;
			}
		}
	}
	/*FIN NOSOTROS MOBILE*/

	/* CONTACTO MOBILE */
	.contacto {
		background-image: url(../assets/img/contacto/contacto_background_mobile.jpg);
		.contacto__titulo h1 {
			font-size: 43px;
		}
	}
	// FIN CONTACTO MOBILE
	
	// NEWSLETTER MOBILE
	.newsletter__form__input {
		min-width: 200px;
	}
	// FIN NEWSLETTER MOBILE
}

// tablet
@media only screen and (min-width: 426px) and (max-width: 769px){
	// INDEX
	.inicio {
		background-image: url(../assets/img/index/main_image_mobile.jpg);
		height: 100vh;
	}
	// FIN INDEX
	// PRODUCTOS
	.main__video__titulo h1 {
		font-size: 40px;
	}
	// FIN PRODUCTOS
	// NOSOTROS
	.main__nosotros {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		justify-items: center;
		grid-template-areas:
		"sub"
		"img" 
		"info";
		.nosotros__subtitulo {
			font-size: 32px;
			justify-self: left;
		}
		img {
	    	max-width: 90%;
	    	padding: 0;
		}
		.main__nosotros__info {
			padding: 5%;
			justify-content: normal;
			.main__nosotros__texto1 p {
				font-size: 20px;
			}
			.main__nosotros__texto2{
				font-size: 15px;
			}
		}
	}
	// FIN NOSOTROS
}

// ESTO ES PARA LAS PAGINAS DE PRODUCTOS, HECHAS CON MOBILE FIRST
// MEDIA QUERY DESKTOP
@media only screen and (min-width: 576px) {
	header .navbar-collapse {
    	background: none;
	}
	.card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
}