// Teclados, Ratones, Audifonos Y Gabinetes
.carousel-item img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel-caption {
    left: 2%;
}

.carousel-caption h2 {
    margin-bottom: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;            
}
.carousel-caption h3 { 
    margin-top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
}

.teclados__titulo h1 {
    font-family: "Montserrat";
    color: $colorSecundario;
    padding: 15px;
}