<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Si compartes nuestro amor por el gaming, únete a nuestra comunidad y encuentra reviews de productos completísimos, streams, eSports y material para descargar.">
	<meta name="keywords" content="redragon teclados ratones mouse gabinetes audifonos auriculares pc gaming">
	<title>Comunidad</title>
	<link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
	<!-- Link Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet">
	<!-- Link Normalize -->
	<link rel="stylesheet" href="../css/normalize.css">
	<!-- Link Estilo CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- Comienzo Header -->
	<header>
		<!-- Logo -->
		<div class="header__logo">
			<a href="../index.html">
				<img src="../assets/img/logo_redragon.png" alt="logo">
			</a>
		</div>
		<!-- Comienzo Nav -->
		<nav>
			<ul class="nav__ul">
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="comunidad.html">Comunidad</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<!-- Comienzo Main -->
	<main>
		<div class="comunidad">
			<!-- Titulo -->
			<div class="comunidad__titulo">
				<h1>COMUNIDAD<br>REDRAGON</h1>
			</div>
		</div>
		<div class="comunidad__parrafo">
			<p>Te damos la bienvenida a la única comunidad que siempre está lista para la batalla. Aquí puedes conocer a los jugadores y streamers de eSports del <span>#teamRedragon</span>, nuestro gran orgullo. Además, tienes a tu disposición las reviews más completas sobre todos nuestros productos y un blog con los temas que más nos interesan. Y, de paso, puedes darle un poco de estilo a tu escritorio con nuestros wallpapers. ¡Adelante!</p>
		</div>
		<!-- REVIEWS TITULO -->
		<div class="reviews__titulo">
				<h2>REVIEWS</h2>
			</div>
		<!-- VIDEOS REVIEWS -->
		<div class="comunidad__reviews">
			<div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/9oenDqcwPUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/4OR6cCAzFxY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	<!-- Comienzo Newsletter -->
	<div class="newsletter">
		<div class="newsletter__info">
			<h3 class="newsletter__info__titulo">NOTICIAS REDRAGON</h3>
			<p>Entérate de las novedades más resonantes del mundo Redragon: eventos, lanzamientos, proyectos; información relevante y actualizada que no te querrás perder.</p>
		</div>
		<form action="#" class="newsletter__form">
			<input type="email" name="email" placeholder="Email (ej: correo@gmail.com)" required>
			<button type="submit" class=newsletter__form__button>
				<img src="../assets/img/newsletter/send_button.png">
			</button>
		</form>
	</div>
	<!-- Fin Newsletter -->	
	</main>
	<!-- Comienzo Footer -->
	<footer class="footer">
		<!-- Logo Footer -->
		<div class="footer__logo">
			<img src="../assets/img/footer/logo_footer.png">
		</div>
		<!-- Redes Sociales -->
		<div class="footer__social">
			<!-- Facebook -->
			<a href="https://redragon.es/facebook" target="_blank" class="btn--facebook">
				<img src="https://icongr.am/fontawesome/facebook.svg?size=30&color=ffffff" alt="logo-facebook">
			</a>
			<!-- Twitter -->
			<a href="https://redragon.es/twitter" target="_blank" class="btn--twitter">
				<img src="https://icongr.am/fontawesome/twitter.svg?size=30&color=ffffff" alt="logo-twitter">
			</a>
			<!-- Instagram -->
			<a href="https://redragon.es/IG" target="_blank" class="btn--instagram">
				<img src="https://icongr.am/fontawesome/instagram.svg?size=30&color=ffffff" alt="logo-instagram">
			</a>
			<!-- Twitch -->
			<a href="https://redragon.es/twitch" target="_blank" class="btn--twitch">
				<img src="https://icongr.am/fontawesome/twitch.svg?size=30&color=ffffff" alt="logo-twitch">
			</a>
			<!-- LinkedIn -->
			<a href="https://www.linkedin.com" target="_blank" class="btn--linkedin">
				<img src="https://icongr.am/fontawesome/linkedin.svg?size=30&color=ffffff" alt="logo-linkedin">
			</a>
		</div>
	</footer>
</body>
</html>