<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Somos gamers y entendemos cuando hablamos de periféricos y accesorios. Conoce más sobre Redragon y cómo llevamos tu experiencia y talento a otro nivel.">
	<meta name="keywords" content="redragon teclados ratones mouse gabinetes audifonos auriculares pc gaming">
	<title>Acerca de Nosotros</title>
	<link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
	<!-- Link Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet">
	<!-- AOS -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!-- Link Normalize -->
	<link rel="stylesheet" href="../css/normalize.css">
	<!-- Link Estilo CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- Comienzo Header -->
	<header>
		<!-- Logo -->
		<div class="header__logo">
			<a href="../index.html">
				<img src="../assets/img/logo_redragon.png" alt="logo">
			</a>
		</div>
		<!-- Comienzo Nav -->
		<nav>
			<ul class="nav__ul">
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="comunidad.html">Comunidad</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<!-- Comienzo Main -->
	<main>
		<div class="nosotros">
			<div class="nosotros__titulo">
				<h1>SOMOS REDRAGON</h1>
			</div>
		</div>
		<div data-aos="fade-up" class="main__nosotros">
			<div class="nosotros__subtitulo">
				<h2>Acerca de nosotros</h2>
			</div>
			<img src="../assets/img/nosotros/quienes_somos.jpg">
			<div class="main__nosotros__info">
				<!-- TEXTO 1 -->
				<div class="main__nosotros__texto1">
					<p>“¿Cuál es el último juego que jugaste?”. Generalmente, con esa pregunta comenzamos las entrevistas laborales en Redragon.</p>
				</div>
				<!-- TEXTO 2 -->
				<div class="main__nosotros__texto2">	
					<p>Por supuesto, es solo una manera de romper el hielo, pero ilustra bien el espíritu de nuestra gran familia: antes que cualquier otra cosa, somos gamers. Y por eso mismo, pese a que estamos en distintas partes del mundo, hablamos todos el mismo idioma.<br>
					Aunque llevamos varios años más haciendo lo que hacemos, nuestro nacimiento oficial fue en 2012, cuando nos constituimos como la división gamer de ETT, una marca con larga trayectoria en la fabricación de componentes de computadoras. No llegamos al rubro por azar; nacimos en él y lo llevamos en nuestro ADN.
					</p>
				</div>
			</div>
		</div>
	<!-- Comienzo Newsletter -->
	<div class="newsletter">
		<div class="newsletter__info">
			<h3 class="newsletter__info__titulo">NOTICIAS REDRAGON</h3>
			<p>Entérate de las novedades más resonantes del mundo Redragon: eventos, lanzamientos, proyectos; información relevante y actualizada que no te querrás perder.</p>
		</div>
		<form action="#" class="newsletter__form">
			<input type="email" name="email" placeholder="Email (ej: correo@gmail.com)" required>
			<button type="submit" class=newsletter__form__button>
				<img src="../assets/img/newsletter/send_button.png">
			</button>
		</form>
	</div>
	<!-- Fin Newsletter -->
	</main>
	<!-- Comienzo Footer -->
	<footer class="footer">
		<!-- Logo Footer -->
		<div class="footer__logo">
			<img src="../assets/img/footer/logo_footer.png">
		</div>
		<!-- Redes Sociales -->
		<div class="footer__social">
			<!-- Facebook -->
			<a href="https://redragon.es/facebook" target="_blank" class="btn--facebook">
				<img src="https://icongr.am/fontawesome/facebook.svg?size=30&color=ffffff" alt="logo-facebook">
			</a>
			<!-- Twitter -->
			<a href="https://redragon.es/twitter" target="_blank" class="btn--twitter">
				<img src="https://icongr.am/fontawesome/twitter.svg?size=30&color=ffffff" alt="logo-twitter">
			</a>
			<!-- Instagram -->
			<a href="https://redragon.es/IG" target="_blank" class="btn--instagram">
				<img src="https://icongr.am/fontawesome/instagram.svg?size=30&color=ffffff" alt="logo-instagram">
			</a>
			<!-- Twitch -->
			<a href="https://redragon.es/twitch" target="_blank" class="btn--twitch">
				<img src="https://icongr.am/fontawesome/twitch.svg?size=30&color=ffffff" alt="logo-twitch">
			</a>
			<!-- LinkedIn -->
			<a href="https://www.linkedin.com" target="_blank" class="btn--linkedin">
				<img src="https://icongr.am/fontawesome/linkedin.svg?size=30&color=ffffff" alt="logo-linkedin">
			</a>
		</div>
	</footer>
	<!-- AOS SCRIPT -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
    	AOS.init();
	</script>
</body>
</html>