// INICIO FOOTER
footer {
	background-color: #000000;
}

// Esta clase es para el footer sin bootstrap
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	height: 150px
}

.footer__social {
	display: flex;
}

.footer__social img {
	padding: 3px;
	margin: 3px;
}

.footer__social a {
	text-decoration: none;
}
// FIN FOOTER

// Map
$redes:(
    facebook: #3a5795,
    twitter:#55acee,
    instagram: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d),
    twitch: #6441a5,
    linkedin: #0077b5
);
// Each
@each $red, $color in $redes {
    .btn--#{$red}:hover {
    	background: $color;
    }
}