// INICIO NEWSLETTER
.newsletter {
	background-image: url("../assets/img/newsletter/newsletter.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.newsletter__info {
	color: $colorSecundario;
	text-align: left;
	padding: 15px;
	max-width: fit-content;
	p {
		font-size: 20px;
		max-width: 560px;
		font-weight: 300;
	}
}

.newsletter__form__input {
	padding: 10px 15px;
	font-size: 17px;
	margin-right: 5%;
	border: 1px solid transparent;
	min-width: 220px;
}

.newsletter__form__button {
	padding: 10px 15px;
	background-color: transparent;
	border: 1px solid $colorSecundario;
}

.newsletter__form__button:hover {
	background-color: $colorPrimario;
}
/*FIN NEWSLETTER*/