// NAVBAR SIN BOOTSTRAP
header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background: linear-gradient(180deg, #1D1D1B 0%, rgba(29, 29, 27, 0) 100%);
	top: 0;
	z-index: 999;

	.header__logo img {
		max-width: 75px;
		padding: 10px;
	}
	.nav__ul {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
	}
	.nav__ul li {
		padding: 8px;
	}
	nav a {
		text-decoration: none;
		color: $colorSecundario;
		font-weight: 600;
	}
}
// INICIO NOSOTROS
.nosotros {
	position: relative;
	background-image: url(../assets/img/nosotros/nosotros_background.jpg);
    @include background-settings;
    width: 100%;
    height: 85vh;
	.nosotros__titulo {
		position: absolute;
		bottom: 1px;
		left: 3%;
		color: $colorSecundario;
		font-size: 28px;
		h1 {
		    font-family: "Montserrat";
		    font-style: normal;
		    font-weight: bold;
		}
	}
}

.main__nosotros {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto;
	column-gap: 5%;
	margin-bottom: 50px;
	grid-template-areas:
		"sub sub"
		"img info";
	.nosotros__subtitulo {
		color: $colorSecundario;
		font-size: 26px;
		margin-left: 20px;
		margin-right: 20px;
		grid-area: sub;
	}
	img {
		max-width: 100%;
		padding-left: 19px;
		grid-area: img;
	}
	.main__nosotros__info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-width: 100%;
		grid-area: info;
		.main__nosotros__texto1 {
			font-size: 24px;
			color: $colorSecundario;
			line-height: 26px;
			margin-bottom: 15px;
			p {
				margin: 0;
			}
		}
		.main__nosotros__texto2 {
			font-size: 18px;
			color: #808080;
			line-height: 24px;
		}
	}
}
// FIN NOSOTROS

// FOOTER SIN BOOTSTRAP
// Esta clase es para el footer sin bootstrap
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	height: 150px
}

.footer__social {
	display: flex;
}

// NEWSLETTER SIN BOOTSTRAP
.newsletterNoBS {
	display: flex;
	background-image: url("../assets/img/newsletter/newsletter.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	justify-content: space-around;
	max-width: 100%;
	max-height: fit-content;
	padding: 0 50px;
}

.newsletter__form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	input {
		padding: 10px 15px;
		font-size: 20px;
		margin-right: 15px;
		border: 1px solid transparent;	
	}
}

.newsletter__form__button img {
	max-width: 22px;
}

.newsletter__form__button:hover {
	background-color: $colorPrimario;
}

/*FIN NEWSLETTER*/