// INICIO PRODUCTOS
.main__video__titulo {
	position: absolute;
	bottom: 15%; 
	left: 3%;
	color: $colorSecundario;
	padding: 4px;
	text-align: left;
	z-index: 2;
	h1 {
		font-family: "Montserrat";
	    font-style: normal;
	    font-weight: bold;
	    font-size: 60px;
	    line-height: 1.2;
	}
}

.main__imagen_mobile {
	min-height: 680px;
	object-fit: cover;
}

.video__overlay {
	background: linear-gradient(0deg, #000000 15%, transparent);
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main__producto {
	max-width: 70%;
	a:hover {
		text-decoration: none;
	}
	h3 {
		color:$colorSecundario;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
	}
	.producto__img {
		border: 2px solid #505050;
		border-radius: 2px;
	}
}

.main__producto:hover {
	transition: transform .5s;
    transform: scale(0.90);
    img {
    	border: 2px solid $colorPrimario;
    }
}
// FIN PRODUCTOS